<div style="background-color: blue">
  <div class=" ui-fluid">
    <div class="ui-g">
      <div class="ui-g-12 ui-md-6">
        <div class="ui-g-4">
          InputText
        </div>
        <div class="ui-g-8">
          <input pInputText type="text" />
        </div>
      </div>
      <div class="ui-g-12 ui-md-4">
        <div class="ui-g-4">
          Textarea
        </div>
        <div class="ui-g-8">
          <input pInputText type="text" />
        </div>
      </div>
    </div>
  </div>
  <div class="ui-g">
    <div class="ui-g-6">
    <input type="text" pInputText placeholder="Enter your name" (change)="onChangeEvent($event)" />
  </div>
  <div class="ui-g-6">
    <button pButton type="text" (click)="greetMe()" icon="fa-check" label="Greet me"></button>
  </div>
    <p> {{theUserSaid}}

      
  </div>
  <div class="ui-g"><p-confirmDialog width="400"></p-confirmDialog></div>
</div>